header{
    text-align: center;
}
.intro{
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
}
.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;
    border-radius: 5px;
}
#img-size{
    max-height: 50px;
    max-width: auto;
    border: 2px- solid black;
    border-radius: 5px;
}

@media screen and (max-width: 640px){
    
}
@media screen and (min-width: 641px) and (max-width 1007px){

}
@media screen and (min-width: 1008px) {
    
}